extends layout.pug

block content
  - var link_to_ipw = "javascript:ShowInfoInView('show_hide_5');"
  section#what_we_do
    h2 What We Do
    div
      mixin what_we_do_card(num)
        article(onclick="ShowIfMobile('show_hide_" + num + "');")
          block
      mixin what_we_do_card_inner(title, num)
        h3= title
        div(id="show_hide_" + num)
          a.show(href="javascript:ShowInfo('show_hide_" + num + "');") More information
          block
          a.hide(href="javascript:HideInfo('show_hide_" + num + "');") Hide
      +what_we_do_card(1)
        include ./private/images/svg/what_we_do/016-book.svg
        +what_we_do_card_inner("Wills, Trusts and Estate Planning", 1)
          p
            | A recent report, by Royal London, has found that over 5.4 million UK adults do not have a Will and would not know where to start if they were to write one; The research indicated that 31% of those respondents who had made a Will in the past, had also
            | lived through a significant life event like marriage (which invalidates a Will) or having a child. However, 53% had failed to update their Will following these monumental and life changing events.
          p
            | Wills and estate planning can enable you to protect assets, shield loved ones from financial or practical difficulties and disputes, save tax and benefit valued individuals and causes ensuring your wishes are honoured. However, Wills and Estate Planning
            | isn't just about passing on money and assets but also about making the most of life right now ensuring you have enough to live on to meet your goals.
          p
            | Through instructing a professional, a relatively small time and financial investment today can reap manifold benefits tomorrow for those left behind and potentially for generations to come.
      +what_we_do_card(2)
        include ./private/images/svg/what_we_do/005-help.svg
        +what_we_do_card_inner("Lasting Power of Attorney", 2)
          p
            | Sadly there are situations where people become unable to make decisions about their own affairs. not only due to old age and dementia but also as a result of accident, illness or some other mental incapacity. This can happen at any age. In some instances
            | people can make some decisions but need help with others. A lasting Power of Attorney (LPA) is needed in these situations.
          p
            | There are two types of LPA, Property and Financial Affairs and a Health and Welfare. Both allow someone (your attorney) to manage your affairs should you no longer be able to.
          p
            | A little forward planning in setting up an LPA can avoid costly and time consuming court proceedings resulting in considerable stress and expense. Even essential, everyday transactions such as the use of a joint bank account can become impossible without
            | an appropriate LPA should incapcity occur. Contact us about the two types of LPAs and how they can help protect you and your loved ones.
      +what_we_do_card(3)
        include ./private/images/svg/what_we_do/004-house-2.svg
        +what_we_do_card_inner("Estate Administration and Probate", 3)
          p
            | The loss of a loved one is one of the most difficult experiences most of us have to face and it's particularly hard that at these times there is much to organise, administer and arrange which can be complex and time consuming.
          p
            | A lay person acting as an executor can find themselves dealing with a specialised and sometimes highly complex undertaking at an otherwise challenging time. This is when many will engage the services of a professional administrator to assist with the
            | estate after bereavement.
          p
            | This then helps to avoid getting out of their depth and it's associated consequences and also alleviates the responsibility for getting things right for the beneficiaries some of whom might question the executor's activities. In the long term choosing
            | a professional can save considerable time and expense. 
            a(href='index.html#contact') Contact us to discuss further
            | .
      +what_we_do_card(4)
        include ./private/images/svg/what_we_do/011-support.svg
        +what_we_do_card_inner("Advising the Elderly and Vulnerable", 4)
          p
            | A recent study published in the Lancet Public Health journal, predicts that people aged 85 and over, requiring 24-hour care, will double by 2035 and a million people aged over 65 will also need similar 24-hour care by 2035.
          p
            | This has far reaching consequences raising issues of capacity to make decisions, advice on rules concerning care fees and how to legally mitigate them, protecting the family home and savings and arranging funeral plans.
          p
            | Goldcrest Legal Services endeavours to make the transition towards later life as smooth and as financially efficient as possible. We are also able to advise on preparing Wills and Trusts to protect vulnerable dependents. Contact us today
            | for further information.
  section#about_us
    section
      h2 About Us
      p
        | Goldcrest Legal Services was founded by Marina Brierley.&nbsp;&nbsp;After obtaining a degree in Economics and Economic History at University College London, Marina went on to study law and then qualified as a solicitor in 1995.&nbsp;&nbsp;Having gained several
        | years experience working in Local Government Housing and Housing Trust Civil Litigation Marina took a career break to raise and teach her children, whilst continuing to maintain her legal knowledge particularly in matters relating private
        | client work.&nbsp;&nbsp;Being home rather than office based meant although Goldcrest Legal Services Ltd as a company is regulated by the
        a(href=link_to_ipw) IPW
        | rather than the Solicitors Regulation Authority (SRA) Marina continues to practise as a solicitor and is an active member of the Law Society.
      p
        | Marina is motivated to provide the highest standard of service which draws from being passionate about both work and family.&nbsp;&nbsp;
        | Her willingness to serve also extends to charities and volunteering in the community, including telephone befriending, the home library service and bereavement awareness.&nbsp;&nbsp;
        | In her spare time she enjoys walking, gardening, cooking, ornithology and music.&nbsp;&nbsp;
  section#we_can_help_if
    h2 We Can Help if...
    section#scroll
      - var blackLogo = 'private/images/svg/logo.svg'
      section
        img(src=blackLogo)
        p
          | you need to apply to become a deputy for an elderly relative who has lost the ability to manage their affairs and who didn't register a Lasting Power of Attorney.
          | Your relative may also need a Statutory Will
      section
        img(src=blackLogo)
        p
          | you're a parent, grandparent, godparent, aunt, uncle or someone else who has a concern that children and grandchildren are at risk if they receive or inherit too much too soon.
          | We can create a 
          | trust 
          | to hold the assets until the children are older and wiser.
      section
        img(src=blackLogo)
        p
          | (i) you are named as 
          | executor 
          | in a Will and are overwhelmed by the responsibility, too distressed or simply too busy to act at a time of loss or in need of urgent help with practical as well as legal matters, 
          | (ii) a named executor has died, moved away or has otherwise become incapable of acting or 
          | (iii) you have recently lost a relative or friend who died without making a Will and there is no one able or willing to administer the estate. 
      section
        img(src=blackLogo)
        p
          | you have a son or daughter or someone else you would like to benefit who has a 
          | disability 
          | or is in some other way vulnerable and in need of special care; or for some other reason be incapable of managing their own financial affairs.
          | In any of these situations cash, shares, property or other forms of wealth can be placed into a suitable family trust and those who manage the trust have full discretion on how the beneficiaries are helped with the funds.
      section
        img(src=blackLogo)
        p
          | you are a 
          | business owner 
          | who wants to ensure your business continues and your loved ones are protected should anything happen to you.
      section
        img(src=blackLogo)
        p
          | you are concerned that by giving away in your Will all your wealth to a spouse/partner, the money may be spent or invested unwisely, so that little or nothing will remain for your children to enjoy. 
          | We can create a Will 
          | trust 
          | to ensure capital is protected for children but without loss to a 
          | surviving spouse 
          | of any benefit during their widow(er)hood.  
      section
        img(src=blackLogo)
        p
          | you currently have an aged dependant – perhaps a widowed mother who would need continuing care should you die before them. 
          | We can create a 
          | trust 
          | to hold sufficient capital to continue to help them.
          | At the passing of your 
          | elderly relative 
          | the funds can then return to you or go to other family members. 
      section
        img(src=blackLogo)
        p 
          | you are concerned about funding 
          | later life care 
          | and wish to have the most recent, ethical advice on how to best look after your interests.  
      section
        img(src=blackLogo)
        p 
          | You are approaching or are already over the threshold for Inheritance Tax (IHT) and wish to ensure your Will is as tax efficient as possible and that through IHT estate planning you make the most of all the reliefs and exemptions available to you.
      section
        img(src=blackLogo)
        p 
          | You wish to make provision for someone who would not receive a legacy according to the laws of Intestacy if you died without a Will , or you would like to ensure that a pet is cared and provided for.
      section
        img(src=blackLogo)
        p
          | you have an adult son or daughter in danger of bankruptcy, has dependency issues or is in an unstable marriage or other relationship.
          | In any of these 
          | situations 
          | cash, shares, property or other forms of wealth can be placed into a suitable family 
          | trust 
          | managed by 
          | trustees 
          | with complete discretion regarding ways in which your son or daughter is helped financially whilst they receive support.
      section
        img(src=blackLogo)
        p
          | you would like to know more about 
          | charitable giving 
          | through your Will, and how it can benefit both you and the charities.
          | We also can also assist with more information on worthy local charities.
      section
        img(src=blackLogo)
        p
          | And through our business associates we can help with advice on how to maximise wealth through lifetime financial planning including investments and pensions, releasing equity tied up in your home or ensuring funeral costs are taken care of and delivered by a caring and professional local funeral director
      p Above are just some of the ways Goldcrest Legal Services can assist.
      div
        div
          p Scroll for more.
  section#extra_photos
    div
    div
    div
  section#why_choose_us
    h2 Why Choose Us?
    div
      mixin choose_us_card
        article
          block
      mixin choose_us_card_inner
        p
          block
      +choose_us_card
        include private/images/svg/why_choose_us/002-telephone.svg
        +choose_us_card_inner
          | Free pre-appointment telephone consultations plus out of hours assistance for emergency wills or urgent executorship requests.
      +choose_us_card
        include private/images/svg/why_choose_us/015-save.svg
        +choose_us_card_inner
          | Fewer overheads resulting in the most competitive rates. We aim to offer a favourable pricing structure but with no compromise to service.
      +choose_us_card
        include private/images/svg/why_choose_us/016-search.svg
        +choose_us_card_inner
          | Our competitive prices are provided from the outset, agreed in advance and communication continues with regular case updates throughout.
      +choose_us_card
        include private/images/svg/why_choose_us/001-talk.svg
        +choose_us_card_inner
          | Comprehensive areas of work covered yet we're small enough to offer a bespoke and individual service.
      +choose_us_card
        include private/images/svg/why_choose_us/007-student.svg
        +choose_us_card_inner
          | We specialise and as members of the 
          a(href=link_to_ipw) IPW
          |  we are committed to increasing our expertise through ongoing continual professional development.
      +choose_us_card
        include private/images/svg/why_choose_us/017-umbrella-1.svg
        +choose_us_card_inner
          | Under the 
          a(href=link_to_ipw) IPW
          |  scheme we are required to maintain both professional indemnity insurance and public liability insurance of at least &pound;2 million each.
      +choose_us_card
        include private/images/svg/why_choose_us/012-work.svg
        +choose_us_card_inner
          | We can offer our professional services in the comfort of your own home, at your offices or even in hospital in accordance with your preferences and needs.
      +choose_us_card
        include private/images/svg/why_choose_us/003-checklist.svg
        +choose_us_card_inner
          | Our one stop service includes providing funeral plans and secure document storage.
  section#testimonials
    h2 Recent Testimonials
    div
        article
          include private/images/svg/testimonial-quotation-marks/left-style-2.svg
          p Definitely Satisfied with the service provided
          p - Mr D. Lloyd, Polegate
          include private/images/svg/testimonial-quotation-marks/right-style-2.svg
        article
          include private/images/svg/testimonial-quotation-marks/left-style-2.svg
          p Very pleased
          p - Mrs J. Beaumont, Eastbourne
          include private/images/svg/testimonial-quotation-marks/right-style-2.svg
        article
          include private/images/svg/testimonial-quotation-marks/left-style-2.svg
          p Everything went smoothly
          p - Anon, Eastbourne.
          include private/images/svg/testimonial-quotation-marks/right-style-2.svg
        article
          include private/images/svg/testimonial-quotation-marks/left-style-2.svg
          p Very pleased and happy with each visit from Goldcrest Legal Services to sort out both our wills and trusts.  Great care and time taken to explain to us in simple terms all aspects of our wills and trusts so that we understood everything.  We thought that the price was very fair
          p - Mr G. King and Mrs J King, Hastings.
          include private/images/svg/testimonial-quotation-marks/right-style-2.svg
        article
          include private/images/svg/testimonial-quotation-marks/left-style-2.svg
          p Very happy!, made everything easy and made me feel very comfortable, thank you again.
          p - Mrs S. Masters, Eastbourne.
          include private/images/svg/testimonial-quotation-marks/right-style-2.svg
        article
          include private/images/svg/testimonial-quotation-marks/left-style-2.svg
          p Very happy with the price and service.  Communication was good.  Service was exceptional and I would definitely recommend. 
          p - Ms H. Crouch, Polegate
          include private/images/svg/testimonial-quotation-marks/right-style-2.svg
  section#part_of
    figure
      img.smaller(src='private/images/svg/part_of/73_IPW TSI member.svg', onclick="ShowIfMobile('show_hide_5');", alt='IPW member')
      img(src='private/images/svg/part_of/RAC_Campaign_Supporter_RGB.svg', onclick="ShowIfMobile('show_hide_5');", alt='RAC Campaign Supporter')
    p This firm complies with the IPW Code of Practice
    #show_hide_5
      a.show(href="javascript:ShowInfo('show_hide_5');") More information
      p
        | The Institute of Professional Will Writers which has been in existence for more than 25 years is a not-for-profit self-regulatory organisation, attracting members from a range of areas including private practice and financial services, as well as solicitors,
        | barristers and accountants.
      p
        | Consumer protection is central and the IPW works directly with such organisations as the Legal Services Board, the Competition and Markets Authority, the Office of the Public Guardian and the Chartered Trading Standards Institute to raise and enforce
        | standards.
      p
        | All members operate through a Code of Practice which is approved by the Chartered Trading Standards Institute and:
      p
        span carry at least &pound;2 million Professional Indemnity insurance cover per client
      p
        span carry at least &pound;5 million Public Liability insurance cover
      p
        span undergo a Criminal Records Bureau Disclosure
      p
        span
          | undertake Continuous Professional Development to ensure that advice is accurate and reflects best practice
      a.hide(href="javascript:HideInfo('show_hide_5');") Close

block footer
  section#contact
    h2 Contact Us
    div
      section.hours
        p Hours: 9.00am to 6.00pm Monday to Friday
          span Calls are monitored outside office hours for emergencies.
      section.tel
        p Tel: 01323 332543
      section.email
        p Email: mb@goldcrestlegal.co.uk
      section.addr
        div
          p Mrs Marina Brierley
          p Director and Legal Consultant
          p Goldcrest Legal Services Ltd
          p 44 Willingdon Park Drive
          p Eastbourne
          p East Sussex
          p BN22 0BT

block script
  script.
    HideAll();
    SetupPolicy();
    setInterval(ScrollPosit, 500);
    setInterval(PolicyHideOnScroll, 500);
