doctype html
html(lang="en")
  head
    - var description = 'Providing Wills and estate planning, LPAs, estate administration and advice for the elderly and vulnerable throughout Eastbourne and surrounding areas.'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(content='text/html; charset=utf-8', http-equiv='content-type')
    title Goldcrest Legal Services
    meta(
        name='keywords',
        content='Goldcrest,Goldcrest Legal Services,Eastbourne,Free telephone consultation,Wills,trusts,estate planning,Lasting power of attorney,Estate administration and probate,advising the elderly and vulnerable,Hailsham,Polegate,Pevensey,Seaford,Willingdon,Bexhill'
    )
    meta(name='author', content='Marina Brierley')
    meta(property='og:title', content='Goldcrest Legal Services')
    meta(property='og:image', content='private/images/svg/sketch.svg')
    meta(property='og:description', content= description)
    meta(name='description', content= description)
    link(rel='shortcut icon', href='private/images/svg/logo.svg')
    link(rel='shortcut icon', href='private/images/icon.ico')
    link(rel='stylesheet', type="text/css", href='style.css')
    link(rel='stylesheet', type="text/css", href='https://fonts.googleapis.com/css?family=Handlee&display=swap')
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-137023372-1")
    script
        include js/google_analytics.js
    script
        include js/script.js
  body
    section.colour-block.top
      nav
        nav
          a(href='index.html#home') Home
          a(href='index.html#what_we_do') What We Do
          a(href='index.html#about_us') About Us
          a(href='index.html#we_can_help_if') How We Can Help
          a(href='index.html#why_choose_us') Why Choose Us
          a(href='index.html#contact') Contact
        p mb@goldcrestlegal.co.uk - 01323 332543 - COVID19 compliant
      header#home
        div
          img(
            src='private/images/svg/sketch_min.svg',
            alt='Goldcrest Legal Services Ltd logo, Serving with integrity, Eastbourne & beyond'
          )
        div
    block content
    section.colour-block.foot
      block footer
    footer
      nav
        a(href="https://twitter.com/LtdGoldcrest")
          include ./private/images/svg/social_icons/twitter.svg
          p Twitter
        a(href="https://www.facebook.com/Goldcrest-Legal-Services-Ltd-292761648282213/")
          include ./private/images/svg/social_icons/facebook.svg
          p Facebook
        a(href="https://www.instagram.com/goldcrestlegal/")
          include ./private/images/svg/social_icons/instagram.svg
          p Instagram
      p Regestered in England at 2 Upperton Gardens, Eastbourne, East Sussex BN21 2AH. 
      p
        | Designed by 
        a(href='https://efunb.com/') Ethan Brierley
    aside#policy
      p This site uses cookies to provide the best experience possible.
      nav
          a(href='cookies-policy.html') Cookie policy
          a(href='privacy-policy.html') Privacy policy
          a(href='javascript:PolicyHide();') &times;
    block script
